#map_canvas {
    width: 100% !important; 
    height: 100%; 
}

#wdiv{
    position:absolute;
    top: 20px;
    right: 0px;
    padding: 5px;
    width: 43%;
    height: 290px;
    background-color: blue;
    visibility: hidden;
 }

 #infodiv{
    position:absolute;
    top: 290px;
    right: 0px;
    padding: 5px;
    width: 43%;
    background-color: white;
    visibility: hidden;
 }

  #inundationdiv{
    visibility: visible;
    position:absolute;
    top: 20px;
    right: 20px;
    padding: 5px;
    background-color: white !important;
    border-radius:5px;
 }

  .infodiv {
    height: 320px;
 }

 .infodiv_lower {
    height: 350px;
 }


 .elevation-details {
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 80%;
 }

 .joiner{
    position: absolute;
    right: 30px;
    left: 30px;
    top: 20px;
    height: 70px;
    background-color: #B0C5E4
 }
 .slrinfo{
    position: absolute;
    background-color: #EEE;
    top: 20px;
    right: 20px;
    left: 20px;
    height: 100px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 10px;
    text-align: center;
 }

 .hsplit{
    width: 45%;
    height: 35px;
    text-align: center;
 }

 .big{
    height: 200px;
 }

 .xsdiv{
    position:absolute;
    top: 630px;
    right: 0px;
    padding: 10px;
    text-align: right;
 }

 .small{
    height: 50px;
    width: 60px;
 }

 .controls{
    position:absolute;
    top: 10px;
    left: 50px;
    padding: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
    opacity: 0.95   ;
    box-shadow: 0 0 5px black;
    visibility: hidden;
 }

 .print{
    position:absolute;
    top: 115px;
    left: 10px;
    padding: 6px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
    opacity: 0.95   ;
    box-shadow: 0 0 5px black;
    visibility: hidden;
 }

 #animbutton{
    position: absolute;
    top: 10px;
    left: 60px;
 }

 .yeartitle{
    position: absolute;
    top: 135px;
    right: 20px;
    left: 20px;
    height: 40px;
    padding: 10px 10px;
    text-align: center;
 }

 #closexs{
    position: absolute;
    top: 15px;
    right: 415px
 }

.bigtitle{
    visibility: hidden;
}

.inwrap{
    padding: 3px;
    background-color: white;
    border-radius: 3px;
    text-shadow: 0 0 5px white;
    color: black
}
.hovertip{
    position: absolute;
    background-color:rgba(0,0,0,0.75);
    color: white;
    z-index: 555;
    max-width: 100px;
    padding: 3px;
    font-size: x-small;
    border-radius: 3px;
}

.btn {
    visibility: hidden;
}

.hidden {
    display: none;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
    visibility: hidden;
}


#xs_div svg {
transform: scale(0.70, 1) translateX(25%);
-ms-transform: scale(0.70, 1) translateX(25%); /* IE 9 */
-webkit-transform: scale(0.70, 1) translateX(25%); /* Safari and Chrome */
-o-transform: scale(0.70, 1) translateX(25%); /* Opera */
-moz-transform: scale(0.70, 1) translateX(25%); /* Firefox */
}